
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #eeeeea;
  /* background-image: url('html7_img.png'); */
  /* background-size: cover; */
  
}


.wrapper1 {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 10px;
  /* align-items: center; */
  justify-content: center;
}

.container1 {
  height: 400px;
  /* width: 1080px; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.card1 {
  width: 80px;
  height: 60vh;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: .6s cubic-bezier(.28,-0.03,0,.99);
  box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card1 > .row1 {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card1> .row1 > .icon1 {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card1 > .row1 > .description1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}


.description1 p {
  color: #b0b0ba;
  padding-top: 5px;
}

.description1 h4 {
  text-transform: uppercase;
  font-size: larger;
}

input {
  display: none;
}

input:hover + label {
  width: 800px;
}

input:hover + label .description1 {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: opacity .3s ease, transform .3s ease;
}

@keyframes expandCard {
  0%, 100% {
    height: 60vh;
  }
  25% {
    height: 80vh; /* Adjust the expanded height as needed */
  }
  50% {
    height: 81vh; /* Adjust the expanded height as needed */
  }
  75% {
    height: 80vh; /* Adjust the expanded height as needed */
  }
}

.card1:hover {
  animation: expandCard 10s infinite; /* Adjust the duration as needed */
}

.card1[for="c11"] {
  background-image: url('html6_img.jpg');
}

.card1[for="c21"] {
  background-image: url('html2_img.jpg');
}

.card1[for="c31"] {
  background-image: url('html3_img.jpg');
}

.card1[for="c41"] {
  background-image: url('html4_img.jpg');
}
.text1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.text1 h1 {
    margin: 0;
    font-family: sans-serif;
    font-weight: lighter;
}

#part1{
  position: absolute;
  width: 100%;
}