
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    background-color: #eeeeea;
    /* background-image: url('html7_img.png'); */
    /* background-size: cover; */
    
  }
  .BigText {
    font-size: 2em;
    position: relative;
    cursor: pointer;
  }
  
  .circle {
    position: absolute;
    border: 2px solid #db3434; 
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.2s ease-out;
  }
  nav {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 10px;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
  }

  nav a:hover {
    background-color: #ddd;
    color: #333;
    border-radius: 30px;
    /* opacity: 0.8; */
    transition: 0.4s ease;
    
  }
  .greet{
    position: absolute;
    text-align: left;
    margin-top: 13px;
    font-size: larger;
    font-weight: bold;
  }
  .wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 0px;
    /* align-items: center; */
    /* justify-content: center; */
    background-image: url('html7_img.png');
    background-size:cover;
  }

  .container {
    height: 400px;
    /* width: 1080px; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    margin-top: 60px;
  }

  .card {
    width: 80px;
    height: 60vh;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  }

  .card > .row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
  }

  .card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

  .card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
  }
  

  .description p {
    color: #b0b0ba;
    padding-top: 5px;
  }

  .description h4 {
    text-transform: uppercase;
    font-size: larger;
  }

  input {
    display: none;
  }

  input:hover + label {
    width: 800px;
  }

  input:hover + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: opacity .3s ease, transform .3s ease;
  }
  
  @keyframes expandCard {
    0%, 100% {
      height: 60vh;
    }
    25% {
      height: 80vh; 
    }
    50% {
      height: 81vh; 
    }
    75% {
      height: 80vh; 
    }
  }

  .card:hover {
    animation: expandCard 10s infinite;
  }
  
  .card[for="c1"] {
    background-image: url('html6_img.jpg');
  }

  .card[for="c2"] {
    background-image: url('html2_img.jpg');
  }

  .card[for="c3"] {
    background-image: url('html3_img.jpg');
  }

  .card[for="c4"] {
    background-image: url('html4_img.jpg');
  }
  .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
  }
  
  .text h1 {
      margin: 0;
      font-family: sans-serif;
      font-weight: lighter;
  }
  
  #part1{
    position: absolute;
    width: 100%;
  }
  .image{
    background-size: cover;
   
  }
  .wrapper1 {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 0px;
   
    justify-content: right;
    background-image: url('html8_img.jpg');
    background-size: cover;
  }
  
  .container1 {
    height: 400px;
   
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    margin-top: 80px;
  }
  
  .card1 {
    width: 80px;
    height: 60vh;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
  }
  
  .card1 > .row1 {
    color: white;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .card1> .row1 > .icon1 {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }
  
  .card1 > .row1 > .description1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
  }
  
  
  .description1 p {
    color: #b0b0ba;
    padding-top: 5px;
  }
  
  .description1 h4 {
    text-transform: uppercase;
    font-size: larger;
  }
  
  input {
    display: none;
  }
  
  input:hover + label {
    width: 800px;
  }
  
  input:hover + label .description1 {
    opacity: 1 !important;
    transform: translateY(0) !important;
    transition: opacity .3s ease, transform .3s ease;
  }
  
  @keyframes expandCard1 {
    0%, 100% {
      height: 60vh;
    }
    25% {
      height: 80vh; 
    }
    50% {
      height: 81vh; 
    }
    75% {
      height: 80vh; 
    }
  }
  
  .card1:hover {
    animation: expandCard1 10s infinite; 
  }
  
  .card1[for="c11"] {
    background-image: url('html9_img.jpeg');
  }
  
  .card1[for="c21"] {
    background-image: url('html2_img.jpg');
  }
  
  .card1[for="c31"] {
    background-image: url('html3_img.jpg');
  }
  
  /* .card1[for="c41"] {
    background-image: url('html4_img.jpg');
  } */
  .text1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
  }
  
  .text1 h1 {
      margin: 0;
      font-family: sans-serif;
      font-weight: lighter;
  }
  
  #part1{
    position: absolute;
    width: 100%;
  }

.quotes-container {
    border: 1px solid #333; 
    padding: 20px;
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.quotes {
    font-size: 23px;
    white-space: nowrap;
    overflow: hidden; 
    font-family: sans-serif;
    font-weight: 500;
}

.quotes span {
    display: inline-block;
    transform-origin: center;
    animation: bulgeShrink 3s infinite alternate;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-weight: lighter;
}

.quotes span:last-child {
    margin-right: 0; 
}

@keyframes bulgeShrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(2); 
    }
}
.header5
{
    font-weight: lighter;
    font-family: sans-serif;
}
.cursor{
  position: fixed;
  width: 70px;
  height: 70px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .1s;
}

.cursor2{
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .15s;
}

.wrapper:hover ~ .cursor{
  transform: translate(-20%, -20%) scale(1.5);
  background-color: #db3434;
  opacity: .5;
}

.wrapper:hover ~ .cursor2{
  opacity: 0;
}
.wrapper1:hover ~ .cursor{
  transform: translate(-20%, -20%) scale(1.5);
  background-color:gray;
  opacity: .5;
}

.wrapper1:hover ~ .cursor2{
  opacity: 0;
}
